@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
h1, h2, h3, h4, h5, h6, .minecraft {
  font-family: 'Minecraft', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, Arial, sans-serif;
}

html, body, a, p, b, i, blockquote, div, ul, li {
  font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, Arial, sans-serif;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.regular {
  text-transform: none;
}

#version-report {
  font-style: normal;
}
